#about-page-wrap {
  background-attachment: fixed;
  background-image: url('http://o8tapqn1p.bkt.clouddn.com/20160623-nodefrank-ao_bg.jpg');
  background-size: cover;
  border: 1px solid transparent;
  color: $light-color;
  overflow: hidden;

  a {
		color: $light-color;
  }

  .base-info {
    li {

      & > h3 {
        margin-top: 40px;
        margin-left: 0;
      }

      & > * {
        margin-left: 1rem;
      }

      & > blockquote {
        background: rgba(0,0,0,0.2);
        border-left: 10px solid rgba(0,0,0,0.3);
        line-height: 1.5rem;
        padding: 10px;
      }
    }
  }
      
}
