#about-page-wrap {
  background-attachment: fixed;
  background-image: url('http://o8tapqn1p.bkt.clouddn.com/20160623-nodefrank-ao_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  color: $light-color;
  overflow: hidden;

  a {
		color: $light-color;
  }

  .base-info {
    li {

      & > h3 {
        margin-top: 40px;
        margin-left: 0;
      }

      & > * {
        margin-left: 1rem;
      }

      & > blockquote {
        background: rgba(0,0,0,0.2);
        border-left: 10px solid rgba(0,0,0,0.3);
        line-height: 1.5rem;
        padding: 10px;
      }

      @for $i from 0 to 8 {
        &:nth-child(#{$i}) {
          animation: liAnimation .5s $i * .3s forwards;
          opacity: 0;
          transform: translateY(50px);
        }
      }
    }
  }
      
}

@media screen and (max-width: 960px) { 

} 

@media screen and (max-width: 640px) {
  #about-page-wrap {
    h1 {
      font-size: $middle-font;
      margin-top: 20px !important;
    }

    .base-info {
      margin: 0 10px;
      padding: 0;

      li {
        & * {
          font-size: 14px;
        } 
        h3 {
          margin-bottom: 15px;
          margin-top: 25px;
          font-size: 16px;
          font-weight: bold;
        }
        & > p {
          margin: 15px 5px 7px;
        }
        & > blockquote {
          border-left-width: 5px;
          margin: 0 5px;
          padding: 1px 5px;
        }
      }
    }
  }
}

@keyframes liAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
