#hole-page-wrap {
  background-attachment: fixed;
  background-image: url('http://o8tapqn1p.bkt.clouddn.com/20160623-nodefrank-ao_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-color;
  min-height: 100%;
  overflow: hidden;
  h1 {
    font-size: $middle-font;
    a {
      color: $light-color;
    }
  }
  .submit-block, .reply-block {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    textarea {
      border: none;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      -o-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 1.2rem;
      outline: none;
      padding: 6px 8px;
      resize: none;
    }
    button {
      background: white;
      border: none;
      border-left: 1px solid;
      cursor: pointer;
      font-size: 1.2rem;
      outline: none;
      padding: 0 40px;

      &:hover {
				background: $light-grey-color;
      }
    }
  }
	
	.reply-block {
		display: none;
	}
	
	.reply-block.show {
		display: flex;	
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
  }

  .hole-list {
    border: 1px solid transparent;
    margin: 0;
    min-height: 100%;
    padding: 0;
    & > li {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 2px;
      margin: 0 20px;
      padding-top: 10px;
    }
    & > li:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .reply {
    	color: $light-color;
    	font-size: $min-font;
    }
  }
  .hole-block {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    margin: 15px 0;
    .avatar {
      border-radius: 5px;
      display: block;
      height: 50px;
      min-width: 50px;
      width: 50px;
    }
    .content {
    	width: 100%;

      .name {
        line-height: 1;
      }
      p {
        margin: 10px 0;
      }
      .date {
        color: $grey-color;
        font-size: $min-font;
      }
      pre {
        line-height: 1.2rem;
        white-space: pre-line;
      }
    }
  }
  .hole-chileren-list {
    padding-left: 60px;
    .hole-block {
      margin: 10px 0;
      .avatar {
        border-radius: 5px;
        height: 40px;
        min-width: 40px;
        width: 40px;
      }
    }
  }

  .paging {
		text-align: right;
    .pc-pagenum {
      display: initial;
    }
		a {
			color: $light-color;
		}
  }
}


@media screen and (max-width: 960px) { 

} 

@media screen and (max-width: 640px) {
  #hole-page-wrap {
    h1, .submit-block {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }

    .submit-block, .reply-block {
      margin-left: -50px;
      textarea {
        font-size: 1rem;
      }

      button {
        font-size: 1rem;
        padding: 0 20px;
      }
    }

    .hole-list {
      & > li {
        margin: 0 10px;
      }
    }

    .hole-block {
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-flexbox;
      margin: 15px 0;
      .avatar {
        border-radius: 4px;
        display: block;
        height: 40px;
        min-width: 40px;
        width: 40px;
      }

      pre {
        font-size: 14px;
      }
    }
    .hole-chileren-list {
      padding-left: 10px;
      .hole-block {
        margin: 10px 0;
        .avatar {
          border-radius: 2px;
          height: 30px;
          min-width: 30px;
          width: 30px;
        }
      }
    }

    .paging {
      margin-right: auto !important;
      text-align: center;
      
      .pc-pagenum {
        display: none;
      }

      .mobile-pagenum {
        display: initial;
      }
    }
  }
}
