#index-page-wrap {
  background-image: url('http://o8tapqn1p.bkt.clouddn.com/20160623-nodefrank-ao_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: $light-color;
  height: 100%;
  overflow: hidden;
  padding: 10px 60px;
  position: relative;
  & > .title {
    font-size: $big-font;
    font-weight: 100;
  }
  & a {
    color: $light-color;
    display: block;
  }
  ul.nav {
    font-size: $middle-font;
    margin: 0 -10px;
    & > li {
      line-height: 3;
      margin: 10px 0;
      padding: 0 10px;
      transition: all .3s;
      width: 360px;
      &:hover {
        background: rgba(0, 0, 0, .2);
        border-radius: 2px;
      }
    }
  }
  & > .connect-me {
    background: rgba(0, 0, 0, 0.3);
    bottom: 60px;
    font-size: 2rem;
    padding: 10px 20px;
    position: fixed;
    & > li {
      margin: 10px;
      a {
        color: $default-color-hover;
        transition: all .3s;
        &:hover {
          color: $light-color;
        }
      }
    }
  }
  .shortcut-articles {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: 450px;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    right: 60px;
    top: 160px;
    width: 420px;
    & > ul {
      margin: 0 -10px;
      & > li {
        border-radius: 3px;
        cursor: pointer;
        padding: 10px;
        position: relative;
        transition: all .2s;
        &:hover,
        &.active {
          background: rgba(0, 0, 0, 0.2);
          &::after {
            opacity: 1;
            transform: translateX(-50%) scale3d(1, 1, 1);
          }
        }
        &::after {
          border: 2px solid rgba(255, 255, 255, .5);
          border-radius: 50%;
          bottom: 5px;
          content: '';
          left: 50%;
          opacity: 0;
          position: absolute;
          transition: all .4s;
          transform: translateX(-50%) scale3d(2, 2, 2);
        }
      }
    }
    .articles-list {
      display: flex;
      transition: all .5s;
      width: 400%;
      & > div {
        flex: 1;
      }
      @for $i from 0 to 4 {
        &.trans-#{$i} {
          transform: translateX(-$i * 25 + %);
        }
      }
    }
    .recent-comments {
      #ds-recent-comments li.ds-comment {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .newest,
    .update {
      ul {
        margin: 0;
      }
      li {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        p {
          margin: 8px 0;
        }
        .title {
          line-height: 1.2rem;
        }
        .info {
          color: $not-important-color;
          font-size: $min-font;
        }
      }
    }
  }
  .bg-story {
    bottom: 35px;
    cursor: pointer;
    left: 65px;
    position: absolute;

    &::before {
      border-radius: 50%;
      content: '';
      position: absolute;
    }
    &::before {
      animation: bgStoryBefore 2s infinite;
      border: 4px solid $deep-grey-color;
      height: 0;
      left: -4px;
      top: -4px;
      width: 0;
    }

    & > .story-text {
      color: #ccc;
      font-size: $min-font;
      left: 10px;
      margin: 0;
      opacity: 0;
      position: absolute;
      transform: translateY(-55%);
      transition: all .5s;
      width: 550px;
    }

    &:hover > .story-text {
      opacity: 1;
    }
  }
}

@keyframes bgStoryBefore {
  0 {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  50% {
    opacity: 0;
    transform: scale3d(2, 2, 2);
  }
  100% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
  }
}
