$primary-color-hover: rgb(0, 30, 123);
$primary-inverse-color: #ffffff;
$not-important-color: #aaaaaa;
$grey-color: #cccccc;
$deep-grey-color: #999;
$deeper-grey-color: #666;
$deepest-grey-color: #333;
$light-grey-color: #f0f0f0;
$warning-color: #dd514c;
$warning-color-hover: #c62b26;
$default-color: #e6e6e6;
$default-color-hover: #c7c7c7;
$primary-bg-color: #4B4B49;
$primary-color: #4B4B49;
$light-grey-color: #eee;
$light-color: white;
$big-font: 3rem;
$middle-font: 1.5rem;
$min-font: 0.75rem;
$left-side-width: 320px;
@import 'base';
@import 'index';
@import 'article';
@import 'newarticle';
@import 'tag';
@import 'about';
@import 'hole';

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
  min-width: 960px;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.ellipsis-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#toast {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: white;
  display: none;
  padding: 0 5px;
  position: fixed;
  right: 20px;
  top: 20px;
  p {
    margin: 10px;
  }
}


@media screen and (max-width: 960px) { 

} 

/*兼容平板*/
@media screen and (max-width: 640px) {

} 

/*兼容手机*/
@media screen and (max-width: 480px) {
  body {
    min-width: auto;
  }

  #toast {
    background: rgba(0, 0, 0, 0.8);
    bottom: 20px;
    left: 50%;
    min-width: 70%;
    right: auto;
    text-align: center;
    top: auto;
    transform: translateX(-50%);
    z-index: 999999;
  }
}

