#new-article-wrap {
  & > form {
    & > a {
      color: $grey-color;
      font-size: $middle-font;
    }

    margin: auto;
    max-width: 800px;
    width: 80%;

    .block {
      display: block;
      color: $light-color;
      margin: 20px 0;

      & > * {
        border: none;
        border-radius: 2px;
      }
    }

    input {
      font-size: 1rem;
      padding: 8px 10px;
      width: 300px;
    }
    
    input[name=authcode] {
      width: 200px;
    }

    select {
      font-size: 1rem;
    }

    .button {
      background: $light-color;
      border: none;
      border-radius: 2px;
      color: black;
      display: inline-block;
      font-size: 1rem;
      padding: 10px 30px;

      &:disabled {
        color: $deepest-grey-color;
        background: $grey-color;
      }
    }

    textarea {
      font-size: 1rem;
      height: auto;
      line-height: 1.5rem;
      padding: 8px 10px;
      resize: none;
      width: 100%;

      &[name=summary] {
        min-height: 150px;
      }

      &[name=body] {
        min-height: 400px;
      }
    }
  }
}
