#new-article-wrap {
  & > form {
    & > a {
      color: $grey-color;
      font-size: $middle-font;
      position: relative;
      z-index: 1;
    }

    margin: auto;
    max-width: 800px;
    width: 80%;

    .block {
      display: block;
      color: $light-color;
      margin: 20px 0;
      position: relative;

      & > * {
        border: none;
        border-radius: 2px;
      }

      &.dynamic-ttile::after {
        animation: dynamicTitleMove .5s forwards;
        bottom: 10px;
        color: $deeper-grey-color;
        content: (attr(placeholder));
        position: absolute;
        transform: scale3d(0, 0, 0);
        right: 10px;
      }
    }

    input {
      font-size: 1rem;
      padding: 8px 10px;
      width: 300px;
    }
    
    input[name=authcode] {
      width: 200px;
    }

    select {
      font-size: 1rem;
    }

    .button {
      background: $light-color;
      border: none;
      border-radius: 2px;
      color: black;
      display: inline-block;
      font-size: 1rem;
      padding: 10px 30px;

      &:disabled {
        color: $deepest-grey-color;
        background: $grey-color;
      }
    }

    textarea {
      font-size: 1rem;
      height: auto;
      line-height: 1.5rem;
      padding: 8px 10px;
      resize: none;
      width: 100%;

      &[name=summary], &[name=css], &[name=js] {
        min-height: 150px;
      }

      &[name=body] {
        min-height: 400px;
      }
    }
  }
}

@keyframes dynamicTitleMove {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
