#tag-page-wrap {
  h3 {
    font-size: $middle-font;
  }
  a {
    color: $primary-inverse-color;
  }
  li {
    background: rgba(0, 0, 0, 0.2);
    background-clip: content-box;
    border-radius: 5px;
    height: 180px;
    opacity: 0;
    padding: 8px 10px;
    position: relative;
    width: 25%;
    &.animation {
      animation: tagLiAnimation .5s forwards;
      -webkit-animation: tagLiAnimation .5s forwards;
      -moz-animation: tagLiAnimation .5s forwards;
    }
    & > a {
      display: block;
      padding: 10px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .tags {
      bottom: 15px;
      left: 20px;
      position: absolute;
      a {
        color: $grey-color;
        font-size: $min-font;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 960px) { 

} 

@media screen and (max-width: 640px) {
  #tag-page-wrap {
    margin-bottom: 40px;
    h3 {
      font-size: $middle-font;
      font-weight: bold;
    }
    .common-ul {
      li {
        &:first-child {
          margin-top: 0;
        }
        width: 100%;
        * {
          font-size: 14px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes tagLiAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
}

@-webkit-keyframes tagLiAnimation {
    0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
}
