#tag-page-wrap {
  h3 {
    font-size: $middle-font;
  }
  a {
    color: $primary-inverse-color;
  }
  li {
    background: rgba(0, 0, 0, 0.2);
    background-clip: content-box;
    border-radius: 3px;
    display: none;
    padding: 1px;
    position: relative;
    width: 25%;
    & > a {
      display: block;
      padding: 10px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .tags {
      bottom: 5px;
      left: 10px;
      position: absolute;
      a {
        color: $grey-color;
        font-size: $min-font;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 960px) { 

} 

@media screen and (max-width: 640px) {
  #tag-page-wrap {
    margin-bottom: 40px;
    h3 {
      font-size: $middle-font;
      font-weight: bold;
    }
    .common-ul {
      margin: 0 10px;
      li {
        &:first-child {
          margin-top: 0;
        }
        margin: 5px 0;
        width: 100%;
        * {
          font-size: 14px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}
