<% include ./header %>
<div id="about-page-wrap">
	<h1 class="mgt4 mgb4">关于の·<a href="/">主页邬</a></h1>
	<h3 class="career">2015年4月开始专职前端，目前在CVTE平台服务部，负责整个部门的前端工作</h3>
	<h3 class="status">如蜗牛般缓缓前行</h3>
	<h3 class="poetry">
		<p>能有几个十年</p>
		<p>会像现在这样</p>
		<p>天不怕，地不怕</p>
		<p></p>
		<p>能有几个人生</p>
		<p>会像此生一样</p>
		<p>既勇敢，又善良</p>
	</h3>
</div>
<% include ./footer %>
