<% include ./header %>
<div id="about-page-wrap">
	<h1 class="mgt4 mgb2 center">关于の·<a href="/">主页邬</a></h1>
	<ul class="base-info common-ul">
    <li>
      <h3>About の</h3>
      <p>己巳年腊月生于秦户之地，有名有姓，无字无号，相貌平平，履历淡薄。虽近而立之年，纵有壮志雄心，然已慵懒成疾，终将一事无成，嗟呼！</p>
      <p>未及总角，体孱多病，尝累及家父于丑寅奔波十余里至县医院排队挂号。以致大衍刚前，鬓发斑白，每念此景，无不捶胸顿足，感慨万千，纵穷尽此生，累及来世乃至万万世亦难报此恩。</p>
      <p>如今虽工作稳定，然思想亦近于僵化，即使每日晨书暮码，殚尽竭力，亦不复当年英勇志气。常叹时光荏苒，岁月如梭，创业之所需，亦不得大法。</p>
      <p>此生平淡，没甚兴趣爱好。唯读书与写作较难弃之，书难辨好差，唯跟风阅读耳，文平淡无奇，难上大雅。若至花甲，仍能持此爱好，也不枉此生。</p>
      <p>职业惨淡，天赋平平，尽力而为之也。常幻想某年月可登明台高楼，授业传道。较目前之处境，可谓艰辛千百倍，蜀道难，不如就此弃之。</p>
      <p>嗟呼，未完待续......</p>
    </li>
    <li>
      <h3>诗与远方</h3>
      <p>能有几个十年，会像现在这样，天不怕，地不怕；
        <br> 能有几个人生，会像此生一样，既勇敢，又善良。
      </p>
    </li>
    <li>
      <h3>联系我</h3>
      <p>Email: len.may@foxmail.com</p>
    </li>
  </ul>
  <p class="about-me center mgt3 mgb2">© 2017 · Frank · NodeJS</p>
</div>
<% include ./footer %>
