<% include ./header %>
<div id="about-page-wrap">
	<h1 class="mgt4 mgb2 center">关于の·<a href="/">主页邬</a></h1>
	<ul class="base-info common-ul">
    <li>
      <h3 class="mgt1">基本信息</h3>
      <blockquote>
        <p>姓名：万飞超
          <br> 性别：男
          <br> 生日：1989-12-03
          <br> 教育：2012年毕业于西安电子科技大学，2008年毕业于陕西实验中学
          <br> 专业：计算机科学与技术专业
          <br> 职业：程序猿
          <br> 方向：前端
          <br> 经历：毕业后进入广州视源电子科技股份有限公司，直至现在
        </p>
      </blockquote>
    </li>
    <li>
      <h3>前端项目经历</h3>
      <p>2016-01 ~ now</p>
      <blockquote>
        <p>使用 React 完成内部运营系统。包括两部分功能：一是对媒资的管理，包括视频，专辑，影集等媒体资源，二是通过前端拖拽布局控件完成客户端页面的展示。</p>
        <p>使用 React-Material，包装了大部分原生组件，使其符合业务的具体需求。包括加入了 from 表单验证，为类 select 组件提供异步数据支持，增强了原生 table 组件（加入了排序和分类）等。</p>
        <p>使用 Redux 进行部分状态的管理。具体将可能影响到父子组件的状态使用 Redux 进行管理，不影响到其他组件的状态自管理。</p>
        <p>使用 React-Router 进行路由管理。</p>
        <p>完成了一个可以使用简单的 json 加上简单的业务逻辑就能够生成复杂页面的系统，具体来说就是在基础组件及业务组件之间再加一层中间组件，中间组件读取业务组件的 json 文件生成相应的基础组件。</p>
      </blockquote>
      <p>2015-06 ~ 2015-12</p>
      <blockquote>
        <p>使用 Angular 完成了后台管理系统。包括：APP开发，ROM升级，WEB包发布，页面分析，接口监控等功能。</p>
        <p>使用 Angular 完成了车载软件升级系统。</p>
        <p>使用 Angular 完成了SEEWO监控系统。</p>
      </blockquote>
      <p>2015-05 ~ 2015-08</p>
      <blockquote>
        <p>使用 jquery 完成 CVTOUCH 官网。</p>
      </blockquote>
    </li>
    <li>
      <h3>其他项目经历</h3>
      <p>2014-12 ~ 2015-04</p>
      <blockquote>
        <p>在立知演示进行 WPF 客户端的开发，此时开始慢慢深入 WEB 开发，项目后期逐渐转入 WEB 后台，使用 NodeJS。</p>
      </blockquote>
      <p>2014-09 ~ 2014-11</p>
      <blockquote>
        <p>在创新中心进行光学检测系统开发，主要使用 Python 开发客户端，不涉及算法。</p>
      </blockquote>
      <p>2014-04 ~ 2014-08</p>
      <blockquote>
        <p>抽调到 IT 进行 ERP 系统的协助开发。</p>
      </blockquote>
      <p>2013-10 ~ 2014-03</p>
      <blockquote>
        <p>在创新中心进行 WP8 客户端开发。</p>
      </blockquote>
      <p>2012-11 ~ 2013-09</p>
      <blockquote>
        <p>在创新中心进行智能显示终端的预研及开发。</p>
      </blockquote>
      <p>2012-07 ~ 2012-10</p>
      <blockquote>
        <p>在 TV 部门进行嵌入式软件开发。</p>
      </blockquote>
    </li>
    <li>
      <h3>为什么选择WEB</h3>
      <blockquote>
        <p>在 TV 的时候，遇到一个 bug，不停地追溯，发现是原厂的 bug。原厂提供了接口，提供了动态库，不可能提供源码，我们无法解决这个 bug。等我去了深圳的原厂，发现深圳原厂的人也无法看到源码，原来源码在合肥，也只有合肥的工程师才能解决这个 bug。来来回回折腾了一周，终于解决了这个问题。但最终这个项目还是死了。</p>
        <p>接触了 NodeJS 后，所有的源码都在本地。我就有了一条定律，遇到解决不了的 bug，看源码！很多时候都会恍然大悟，原来是这样用的，原来本来就就不支持这个功能。</p>
        <p>WEB 是未来，我觉得并不仅仅因为 WEB 的通用性，更是因为她开放的精神。</p>
      </blockquote>
    </li>
    <li>
      <h3>为什么选择前端</h3>
      <blockquote>
        <p>前端在高速发展，有无限的可能，有无数的东西需要学习。选择前端也让我觉得我是在和世界上最优秀的程序猿一起共事，我们共享技术，共享源码，我始终沐浴在这份荣誉之下。</p>
      </blockquote>
    </li>
    <li>
      <h3>诗与远方</h3>
      <blockquote>
        <p>能有几个十年，会像现在这样，天不怕，地不怕；
          <br> 能有几个人生，会像此生一样，既勇敢，又善良。
        </p>
      </blockquote>
    </li>
    <li>
      <h3>联系我</h3>
      <blockquote>
        <p>Email: len.may@foxmail.com</p>
      </blockquote>
    </li>
  </ul>
  <p class="center mgt4 mgb2">© 2016 <a href="/about">Feichao Wan</a>  Powered by NodeJS</p>
</div>
<% include ./footer %>
