		<div id="toast">
			<p id="toast-msg"></p>
		</div>
		<script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/javascripts/wangEditor.min.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
		<% if(typeof blog !== 'undefined' && blog.js instanceof Array) { %>
			<% blog.js.forEach(function(js) {%>
				<script type="text/javascript" src="<%= js %>"></script>
			<% })%>
		<% }%>

		<script type="text/javascript" src="http://tajs.qq.com/stats?sId=57084869" charset="UTF-8"></script>
	</body>
</html>