	<div id="toast">
		<p id="toast-msg"></p>
	</div>
	<script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>

	<script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/absord-guideline.js"></script>
	<script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/absord-movesystem.js"></script>
	<script type="text/javascript" src="http://7xlphe.com1.z0.glb.clouddn.com/absord-guidelines.js"></script>

	</body>
</html>