<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>