<% include ./header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<div id="index-page-container">
	<h1 class="title"><%= title %></h1>
	<ul class="nav">
		<li class="li0"><a href="/">HOME</a></li>
		<li class="li1"><a href="/tech">TECH</a></li>
		<li class="li2"><a href="/story">STORY</a></li>
		<li class="li3"><a href="/about">ABOUT</a></li>
	</ul>

	<div class="connect-me">
		<ul>
			<li>
				<a href="https://github.com/feichao" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/feichao" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/feichao" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/feichao" target="_blank">
					<i class="fa fa-weibo" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/feichao" target="_blank">
					<i class="fa fa-weixin" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<% include ./footer %>
