<% include ./header %>
<div id="new-tech-wrap">
	<form action="/tech/new" method="post" class="mgb2">
		<label class="block">
			<span class="mgr1">标题</span>
			<input type="text" name="title" required="required" placeholder="输入标题">
		</label>
		<label class="block">
			<span class="mgr1">作者</span>
			<input type="text" name="author" required="required" placeholder="输入作者">
		</label>
		<label class="block">
			<span class="mgr1">标签</span>
			<input type="text" name="tags" required="required"  placeholder="输入标签，空格分隔">
		</label>
		<label class="block">
			<span class="mgr1">分类</span>
			<select name="category">
				<option value="0">Tech</option>
				<option value="1">Story</option>
			</select>
		</label>
		<label class="block">
			<textarea name='summary' required="required"></textarea>
		</label>
		<label class="block">
			<textarea name='body' required="required"></textarea>
		</label>
		<button class="button mgr2" type="submit">保存</button>
		<a class="button" href="/tech">返回</a>
	</form>
</div>
<% include ./footer %>