<% include ./header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/tech.css" />
<div id="tech-page-container">
	<div class="left-nav">
		<header>
			
		</header>
		<!-- 动态生成目录 -->
		<ul>
			
		</ul>
	</div>
	<!-- 拉去具体内容 -->
	<div class="content">
		
	</div>
</div>
<% include ./footer %>