
blockquote {
  background-color: #f8f8f8;
  border-left: 5px solid #4B4B49;
  margin: 10px 0 0;
  padding: 0.8rem 1rem;
}

blockquote > p {
  margin: 0;
}

pre code {
  background-color: #f2f2f2;
  display: block;
  overflow-x: auto;
  padding: 10px;
}

.content > ul {
  list-style: inherit;
  padding-left: 1rem;
}

.content > ol {
  list-style: decimal;
  padding-left: 1rem; 
}

.content > ul > li:nth-child(odd) {

}