#new-tech-page > form {
  margin: auto;
  max-width: 800px;
  width: 80%;
}

#new-tech-page > form > label {
  display: block;
  color: white;
  margin: 20px 0;
}

#new-tech-page > form > label > span {
  margin-right: 10px;
}

#new-tech-page > form > label > input {
  border: none;
  border-radius: 2px;
  padding: 8px 10px;
  width: 300px;
}

#new-tech-page > form > .button {
  border: none;
  border-radius: 2px;
  background: white;
  color: black;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 30px;
}

#new-tech-page > form > label > textarea {
  border-radius: 2px;
  box-sizing: border-box;
  height: auto;
  line-height: 1.5rem;
  padding: 8px 10px;
  resize: none;
  width: 100%;
}

#new-tech-page > form > label > textarea[name=summary] {
  min-height: 200px;
}

#new-tech-page > form > label > textarea[name=body] {
  min-height: 500px;
}
