html, body {
	background-color: #4B4B49;
  font: 14px "Roboto";
  height: 100%;
  margin: 0;
  text-rendering: geometricPrecision;
}

* {
}

a {
  color: white;
	text-decoration: none;
	text-transform: uppercase;
}

ul {
	list-style: none;
  padding: 0; 
}

.mgt2 {
	margin-top: 20px !important;
}

.nav {
	font-size: 1.5rem;
	width: 0;
}

.nav > li {
	float: left;
	margin: 25px 0;
	transition: all .3s;
}

.nav > li:hover {
	transform: scale3d(1.35, 1.35, 1);
  transform-origin: 0 0;
}

.connect-me {
	background: rgba(0, 0, 0, 0.1);
	bottom: 60px;
	font-size: 1.5rem;
	margin: 0 -10px;
	position: fixed;
}

.connect-me li {
	display: inline-block;
	margin: 0 10px;
}