#content {
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 400px;
  margin: auto;
  position: relative;
  width: 800px;
}

#canvas {
  height: 400px;
  position: absolute;
  width: 800px;
}

#retangle {
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ddd;
  height: 130px;
  left: 50px;
  top: 10px;
  width: 175px;
}

#retangle-1 {
  background: #333;
  border: 1px solid #000;
  box-shadow: 0 0 2px #111;
  height: 130px;
  left: 250px;
  top: 230px;
  width: 175px;
}

#retangle-2 {
  background: #666;
  border: 1px solid #333;
  box-shadow: 0 0 2px #444;
  height: 130px;
  left: 550px;
  top: 260px;
  width: 175px;
}

.retangle {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
}
